* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 100%;
    background-color: #E9EDEE;
}

.first-logo {
    background-color: #222A38;
}

.first-logo img {
    width: 7%;
}

.second-logo {
    background-color: #222A38;

}

.navbar {
    background-color: #333F50;
    color: white;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 1%;
}

.orangestrip {
    background-color: #EC6019 ;
    color: white;
    text-align: center;
    margin: 1%;
    padding: 0.5% 0;
}

.greenbox {
    background-image: url("../img/bg-image.png");
    text-align: center;
    color: white;
    padding: 40px;
    background-size: contain;
    margin: 0 15px

}

.greenbox h1 {
    margin: 30px
}

.fourimg {
    background-color: white;
 
}

.imagecontainer img {
    display: inline-block;
    width: 23%;
    height: 30em;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 8px 10px 35px -15px #000000;
    margin: 8px
}

.imagecontainer {
    text-align: center;
    background-color: white;
}
.shop {
    margin-left: 10px;
    color: #0D5662;
}

.bianco {
    margin: 1em auto;
    width: 97%;


}

.imgrettangolo {
    text-align: center;
}

.imgrettangolo img {
    object-fit: cover;
    width: 97%;
}